CONFIG_PATH=/department-management-service/config/config.yaml

SERVER_ENV=local
SERVER_HTTP_ADDR=0.0.0.0:8080

POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_PASSWORD=admin
POSTGRES_USER=admin
POSTGRES_DB=department-management-db
POSTGRES_SSL=disable